---
- hosts: do
  vars:
    bitcoin_dir: "/tmp/bitcoin"
    tmp_file: "hashes.tmp"
    asc_file: "SHA256SUMS.asc"
    host1: "https://bitcoincore.org"
    host2: "https://bitcoin.org"
    path_prefix: "/bin/bitcoin-core-"
    version: "{{ ver }}"
    archive_name: "bitcoin-{{ ver }}-x86_64-linux-gnu.tar.gz"
  gather_facts: false
  tasks:
    - fail: msg="Please specify 'ver=' argument to the playbook."
      when: ver is not defined

    - name: create bitcoin directory if it doesn't exist
      file:
        path: "{{ bitcoin_dir }}"
        state: directory
        mode: 0755

    - name: "downloading {{ asc_file }} from {{ host1 }}"
      get_url:
        url: "{{ host1 + path_prefix + version + '/' + asc_file }}"
        dest: "{{ bitcoin_dir }}/{{ asc_file }}"
        mode: 0644

    - name: "downloading {{ asc_file }} from {{ host2 }}"
      get_url:
        url: "{{ host2 + path_prefix + version + '/' + asc_file }}"
        dest: "{{ bitcoin_dir }}/{{ asc_file }}-2"
        mode: 0644

    - name: "calculating checksum of {{ asc_file }}"
      stat:
        path: "{{ bitcoin_dir }}/{{ asc_file }}"
        get_checksum: yes
      register: chksum_1

    - name: "calculating checksum of {{ asc_file }}-2"
      stat:
        path: "{{ bitcoin_dir }}/{{ asc_file }}-2"
        get_checksum: yes
      register: chksum_2

    - fail: msg="{{ asc_file }} and {{ asc_file }}-2 checksums are different, ending."
      when: chksum_1.stat.checksum != chksum_2.stat.checksum

    - name: install bitcoin-core gpg key
      shell: "gpg2 --keyserver pgp.mit.edu --recv-keys 0x90C8019E36C2E964 2>/dev/null"

    - name: "downloading {{ archive_name }}"
      get_url:
        url: "{{ host1 + path_prefix + version + '/' + archive_name }}"
        dest: "{{ bitcoin_dir }}/{{ archive_name }}"
        mode: 0644

    - name: "find {{ archive_name }} string in {{ asc_file }}"
      shell: "grep {{ archive_name }} {{ asc_file }} | awk '{print $1}'"
      args:
        chdir: "{{ bitcoin_dir }}"
      register: grep_output

    - name: "check sha256 checksum of the {{ archive_name }}"
      shell: "sha256sum {{ archive_name }} | awk '{print $1}'"
      args:
        chdir: "{{ bitcoin_dir }}"
      register: archive_chksum

    - fail: msg="value {{ grep_output }} from {{ asc_file }} and {{ archive_chksum }} of the downloaded {{ archive_name }} are different, ending."
      when: grep_output.stdout != archive_chksum.stdout

    - name: "unpack {{ archive_name }} into {{ bitcoin_dir }}"
      unarchive:
        src: "{{ bitcoin_dir }}/{{ archive_name }}"
        dest: "{{ bitcoin_dir }}"
        remote_src: yes

